%html
	%head
		%meta{:charset => "utf-8"}
		%title Memory Game
		%meta{:name => "description", :content => ""}
		%meta{:name => "author", :content => ""}

		:plain
			<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
			<!--[if lt IE 9]>
				<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->

		/ include bootstrap and font awesome
		%link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel=>"stylesheet"}
		%link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel=>"stylesheet"}

		/ add body padding styles
		%link{ :href => "/css/styles.css", :type => "text/css", :rel => "stylesheet" }

		%script{ :type => "text/javascript", :src =>"//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
		%script{ :type => "text/javascript", :src =>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
		%script{ :type => "text/javascript", :src =>"/js/memory.js"}

	%body
		%h1 Memory Game
		
	%div{:id => "game"}
		- 5.times.each do |i|
			%div{:class => "row"}
				- 5.times.each do |x|
					%div{:class => "cell col-md-4", :id => "#{i}-#{x}"} 
						%i{:class => "fa #{symbols.sample}"}