body {
	padding: 60px;
}

#game {
	width: 500px;
	height: 100px;
}


#game div{
	padding:0px;
}

#game button{

	height: 26px;
	margin: 0px -2px;
}
#game .cell{
	padding: 10px;
	height: 70px;
	width: 70px;
	border: 1px solid #ccc;
} 
#game i{
	font-size: 40px;
} 	